body{
  background: url(../img/space7.jpg);
  font-family: sans-serif;
}
.hero{
  background: url(../img/space6.jpg) no-repeat;
  height: 615px;
}
.hero p{
  padding: 100px 200px;
  color: #e8eff4;
  width: 400px;
  font-size: 35px;
  font-family: 'Satisfy', cursive;
}
header{
  height: 60px;
}
header h1{
  text-shadow: 5px 5px 5px blue;
  font-size: 40px;
  color: #e8eff4;
  font-family: 'Indie Flower', cursive;
  font-style: oblique;
}
header ul{
  padding: 18px;
}
nav li{
  display: inline;
}
header li a{
  color: #e8eff4;
    text-decoration: none;
    font-size: 20px;
}

.main{
  margin: 30px 0px;
}
.main h1{
  padding: 15px 0px;
  margin: 0px;
  color: #e8eff4;
  font-family: 'Shadows Into Light', cursive;
}
.main .grid_4{
  height: 385px;
  background: #e8eff4;
}
.main .grid_5{
  width: 335px;
  height: 220px;
  margin: 24px 15px 0px 20px;
}
.second{
  margin-left: 20px;
  margin-right: 20px;
}
section{
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 5px 5px 6px;
}
section img{
  width: 286px;
  margin: 0px;
  border: 1px solid black;
}
section a{
  color: black;
  text-decoration: none;
}
section a:hover, footer a:hover, header a:hover {
  color: #726e6d;
}
section p{
  text-align: justify;
}
section .info{
  font-style: italic;
}
.sect h4{
  line-height: 20px;
}
footer{
  padding: 30px 0px;
  color: #e8eff4;
}
footer a{
  color: #e8eff4;
  text-decoration: none;
}
footer li {
  list-style-type: none;
}
footer h4{
  font-family: 'Shadows Into Light', cursive;
}
.copyrights p{
  text-align: center;
}

section h4{
  margin: 20px 0 0 0;
}
.main .sec{
  background: #e8eff4;
  height: 300px;
  margin: 20px 0px;
}
.sec .grid_7{
  margin-left: 15px;
  margin-right: 10px;
}
hr{
border: 1px solid grey;
}
